<div id="MainDiv">
  <h1>INGRESOS</h1>

  <div *ngIf="ActualIncLength != 0 else NoData">
  <div class="Table">
    <table>
      <tr>
        <th>Descripción</th>
        <th>Monto</th>
        <th><i class="fa-solid fa-trash"></i></th>
      </tr>
      <tr *ngFor="let income of Ingresos">
        <td>{{ income.text }}</td>
        <td class="mountRow">{{ income.incomeMount | currency:'SOL':'S/' }}</td>
        <td><button (click)="DeleteIncome(income)"><i class="fa-solid fa-x"></i></button></td>
      </tr>
    </table>
  </div>
</div>

  
  <ng-template #NoData><h1>Datos no disponibles</h1></ng-template>
</div>
